* {
  box-sizing: border-box;
}

.clearfix:after,
.clearfix:before {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}
